@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body.show-product-1,
body.show-product-2,
body.show-product-3,
body.show-product-4 {
  overflow: hidden;
}
